
* {
	border: 1px solid;
}

#container {
  width: 100%;
  margin: auto;
}

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Roboto', sans-serif;
}
header {
	height: 200px;
	background-color: #125688;
	height: 300px;
	background: linear-gradient(to top left, #0f4871, #125688, #1872b5);
}
.Top {
	float: right;
	margin-top: 130px;
	margin-right: 120px;
	width: 40%;
	height: 80px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: #125688;
	font-weight: 450px;
	background-color: white;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
button {
	font-family: 'Montserrat', sans-serif;
	display: inline;
    background-color: #125688; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    border-color: #0f4871;
}
.content {
	top: 250px;
	background-color: white;
}
.iPhone {
	display: inline;
	position: relative;
	width: 30%;
	float: left;
	left: 100px;
	top: -160px;
	margin-bottom: 70px;

}
.Capture {
	font-family: 'Montserrat', sans-serif;
	float: right;
	display: inline;
	position: absolute;
	top: 250px;
	right: 80px;
	width: 40%;
	background-color: white;
	border-radius: 5px;
	font-size: 120%;
	color: #1d2222;
	padding-left: 20px;
	padding-right: 20px;
	/*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	/*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);*/

}

footer{
	margin-top: 50px;
	clear: both;
	text-align: center;
	text-decoration: none;
}
li {
	font-family: 'Montserrat', sans-serif;

	text-transform: uppercase;
	display: inline;
	color: #125688;
}

/*------mobile-------*/
/*---------Desktop---------*/
/*@media (min-width: 1024px) {

}

/*background: -webkit-radial-gradient(circle, #125688 25%, #4c68d7 75%)