

/*---------Desktop---------*/

@media (min-width: 600px) {

#container {
  width: 100%;
  margin: auto;
}

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}

/*----Top Portion----*/

header {
	background-color: #125688;
	background: linear-gradient(to top left, #0f4871, #125688, #1872b5);
	min-height: 300px;
}
.Top {
	float: right;
	margin-top: 130px;
	margin-right: 80px;
	margin-left: 725px;
	width: 42%;
	height: 80px;
	padding-right: 0px;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	color: #125688;
	font-weight: 450px;
	background-color: white;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.login {
	float: right;
	display: inline-block;
	margin-right: 150px;
}
button {
	font-family: 'Open Sans', sans-serif;
    background-color: #125688; 
    color: white;
    padding: 15px 32px;
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px #D3D3D3;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    width: 130px;
    height: 50px;
    padding-bottom: 20px;
}
.ButtonText {
	float: right;
}
.Home {
	float: left;

}

/*----Middle----*/

.content {
	top: 250px;
	background-color: white;
}
.iPhone {
	display: inline;
	position: relative;
	width: 30%;
	float: left;
	left: 100px;
	top: -160px;
	margin-bottom: 70px;

}
.Capture {
	font-family: 'Open Sans', sans-serif;
	float: right;
	display: inline;
	position: absolute;
	top: 250px;
	right: 80px;
	width: 40%;
	height: 40%;
	background-color: white;
	border-radius: 5px;
	font-size: 120%;
	color: #1d2222;
	padding-left: 20px;
	padding-right: 20px;
	/*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	/*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);*/
	-webkit-box-shadow: 0px -28px 30px 5px rgba(50, 50, 50, 0.21);
	-moz-box-shadow: 0px -28px 30px 5px rgba(50, 50, 50, 0.21);
	box-shadow: 0px -28px 30px 5px rgba(50, 50, 50, 0.21);

}
.androidBadge {
	margin-right: 30px;
}

/*----End----*/
footer{
	clear: both;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}
ul {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: inline-flex;
	color: #125688;
	text-decoration: none;
	list-style-type: none;
}
li {
	padding-right: 5px;
	padding-left: 5px;
}

.copy {
	color: #ceced2;
}
}

/*------mobile-------*/

@media (max-width: 599px) {
#container {
  width: 100%;
  margin: 0 auto;
}

body {
     color: #000;
     font-size: 12px;
     font-family: 'Roboto', sans-serif;
}
header {
	min-height: 250px;
	width: 100%;
	background-color: #125688;
	background: linear-gradient(to top left, #0f4871, #125688, #1872b5);
}
.Top {
	padding-top: 80px;
	padding-right: 10px;
	padding-left: 40px;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	color: #125688;
	background-color: white;
}
button {
	font-family: 'Open Sans', sans-serif;
    background-color: #125688; 
    color: white;
    padding: 15px 32px;
    font-size: 8px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 25px;
    border: 1px #D3D3D3;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    width: 130px;
    height: 50px;
}
.ButtonText {
	float: right;
}
.Home {
	float: left;

}
.content {
	background-color: white;
}
.Capture {
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	background-color: white;
	border-radius: 5px;
	color: #1d2222;
	top: 20px;
	padding-left: 20px;
	/*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	/*box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);*/
}
.logo {
	height: auto;
	width: 250px;
}
.iPhone {
	display: none;
}
.androidBadge {
	display: none;
}
.iphoneBadge {
	display: none;
}
footer{
	clear: both;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}
ul {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	
	color: #125688;
	text-decoration: none;
	list-style-type: none;
}
li {
	padding-right: 5px;
	padding-left: 5px;
}

.copy {
	color: #ceced2;
}
/*footer{
	float: left;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
	width: 400px;
	margin-left: -50px;
	margin-right: 10px
	font-size: 4px;

li {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: inline-flex;
	color: #125688;
	padding-left: 0px;
}
.copy {
	color: #B9B9BA;
}*/
}

/*background: -webkit-radial-gradient(circle, #125688 25%, #4c68d7 75%)